body{
  background-color: lightblue;
}

@media screen and (min-width:320px) and (max-width:640px) {
  .container{
    display: flex;
    flex-direction: column;
  }

  form{
    display: flex;
    flex-direction: column;
  }

  .btn{
    margin-top: 20px;
  }

  img{
    width: 300px;
  }
}